@model IEnumerable<OfferAndFindAPI.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdChat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdChat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMessage">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMessage">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMessage">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
